* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
}   

body {
    width: 100vw;
    height: 100vh;
}


/* Cabeçalho */

header {

    color: rgba(74, 74, 165, 0.966);
    padding: 10px;
    text-align: center;
    max-width: 100%;
    max-height: 30%;
}

header .left-banner {

    font-size: 22px;
    font-weight: 900;
}
/*menu navegação*/


#banner-menu ul{

    color: rgba(74, 74, 165, 0.966);
    list-style: none;
    padding: 0px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}  

#banner-menu ul li{

    display: inline;
    
}
#banner-menu ul li a{

    font-size: 18px;
    color: rgba(74, 74, 165, 0.966);
    padding: 25px;
    display: inline-block ;
    text-decoration: none;
    transition: background .5s;
    border-radius: 20px;


}
#banner-menu ul li a:hover{

    background-color:rgba(111, 111, 243, 0.966);
    color: rgb(253, 249, 249);
    border-radius: 20px;
}

.li center-banner {

    text-align: center;
    
}


.left-banner {

    position: relative;
    right: 40%;
    top: 80%;    
    font-size: 18px;
    padding: 5px;
    margin: 5px;
    font-family: 'Open Sans', sans-serif;
 }


/*SLIDER*/

.slider {
    display: flex;
    overflow: hidden;
  }
  
  .slide { 
    color: rgba(74, 74, 165, 0.966);
    flex: 1;
    height: 700px;
    padding: 20px;
    text-align: center;
    background-image: url(/img/elemento-de-design-de-fundo-de-textura-de-tecido-branco.jpg);
    background-position: center; 
    background-size: cover;
  }
  
  .hidden {
    display: none;
  }


.slide p {

    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    max-width: 100%;
    letter-spacing: 2px;
    margin-bottom: 5px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

/*botoes slider*/

#button-container {

    text-align: center;

}

#prevButton {

    position: absolute;
    padding: 40px;
    box-shadow: 2px -2px 0 1px #7e7d7d inset;
    border: solid transparent;
    border-width: 0 0 2px 2px;
    transform: rotate(45deg);
    background-color: transparent;
    border: none;
    top: 50%;
    left: 30px;
}

#nextButton {

    position: absolute;
    padding: 40px;
    box-shadow: 2px -2px 0 1px #7e7d7d inset;
    border: solid transparent;
    border-width: 0 0 2px 2px;
    transform: rotate(225deg);
    background-color: transparent;
    border: none;
    top: 50%;
    right: 30px;
}


/* Massagens*/

h2 {
    
    padding: 10px;
    text-align: center;
    color: rgba(74, 74, 165, 0.966);
    font-size: 38px;  
    
}



.container {

    background-image: url(/img/608.jpg);
    background-position: center;
    background-size: cover;
    min-height: 60vh;
    padding: 5%;

}

.products-container {
    
    max-width: 100%;
    margin: 0 auto; 
    border-radius: 60px;

}

.card {

    color: rgb(7, 7, 7);
    width: 31%;
    height: 100%;
    display: inline-block;
    margin: 1% 1%;
    padding: 18px;
    border-radius: 18px;
    flex-wrap:nowrap;
}


.product-img { 

    height: 300px;
    width: 100%;
    margin-bottom: 20px;
    background-position: center;
    background-size: cover;
    border-radius: 60%;
    
}

#img-1 {

    background-image: url(../img/massagem1.jpg);
 
}

#img-2 {

    background-image: url(../img/massagem2.png);
 
}

#img-3{

    background-image: url(../img/massagem3.jpg);


}

#img-4{

    background-image: url(../img/massagem4.png);
  
}

#img-5 {

    background-image: url(../img/massagem5.png);
   
}

#img-6{

    background-image: url(../img/massagem6.png);
 
 }
h3 { 

    margin-bottom: 15px;
    color: rgba(74, 74, 165, 0.966);
    border-left: 5px solid ;
    padding-left: 10%;
    font-size: 24px;

}

.card p {

    margin-bottom: 8px;

}

.bold {
    font-weight: bold;
    font-size: 20px;
}

.btn {
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: rgba(74, 74, 165, 0.966);
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    transition: .5s ;

}
.btn:hover {

    background-color:  rgba(111, 111, 243, 0.966);
}

/*Mais produtos*/

#container-more-products { 

    background-image: url(/img/608.jpg);
    background-position: center;
    background-size: cover;
    min-height: 60vh;
    padding: 5%;
    margin: 0 auto;
}

#more-products {

    max-width: 100%;
    margin: 0 auto; 
    border-radius: 60%;
    
}

#img-7 {
    background-image: url(/img/mulher-visitando-cosmetologista-e-fazendo-procedimentos-de-rejuvenescimento.jpg);
}
#img-8 {
    background-image: url(/img/homem-bonito-em-um-salao-de-beleza.jpg);
}

#img-9 {
    background-image: url(/img/beleza-e-spa.jpg);

}


/*Rodape*/

footer {


    background-color: rgba(74, 74, 165, 0.966);
    color: #fff;
    border-top: 3px solid rgba(74, 74, 165, 0.966) ;
    text-align: center;
    padding: 20px;
    line-height: 30px;
    
}

#social-midia:first-child ul a {

    letter-spacing:1px;
    color: #ffffff;
    text-decoration: none;
}

#social-midia ul a:hover{
    
    background-color:rgba(115, 115, 175, 0.966);
    transition: .6s;
    border-radius: 10px;    
    
}

#social-midia ul {

    list-style: none;
    margin: 5px;

}


svg {
    display: inline-block;
    font-size: inherit;
    height: 1.5em;
    overflow: visible;
    vertical-align: -.120cm;
}






/* media query*/

/* Telas 480px - 768px */

@media (max-width: 320px) {


    #prevButton{
        padding: 15px;
        right: 100%;
    }

    #nextButton {

        padding: 15px;
    }


.left-banner {
    
    position: relative;
    font-size: 15px;
    font-weight: 900;
    top: 100%;
    left: 0%;

}

    #banner-menu{

        position: relative;
        width: 320px;
        height: 100px; 
        padding: 20px;
    }


    .card {

        width: 100%;

    }

    #more-products{

        width: 100%;

    }



}

/* 768px - 1024px */

@media (min-width: 768px) {

}

/* 1024px - 1200px */

@media (min-width: 1024px) {

}

/* Telas grandes 1200px > */

@media (min-width: 1200px) {

}

